
/* --- Columns --- */
#colB {
    position: relative;
}

#mid-col {
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
}

div#time {
    font-size: 8em;
}

div#date {
    font-size: 2em;
}





