/* Styling for the page */

body {
    /* Background */
    background: url(../assets/GradientWallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Text */
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

div#time {
    font-size: 6em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

div#date {
    font-size: 2em;
}

#qotd{
	/*height: 1800px;*/
	/*max-height: 50vh;*/
	/*overflow: hidden;*/
	padding: 0;
	margin: 0;
    height: 200vh;
  /*  overflow : auto;
    position : relative;*/
}

#qotd-iframe {
    position : relative;
    top      : -2500px;
    left     : 0px;
    margin: auto 0;
    zoom: 0.25;
}


.hiddenElement {
    visibility: hidden;
}

ul#toggle-icons {
    list-style-type: none;
}


ul#toggle-icons li {
    display: inline;
    padding: 0 0.3em 0 0.3em;
}

