/* Styling for the page */

body {
    /* Background */
    background: url(../assets/GradientWallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Text */
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: white;

    padding: 0.75em;
}

h2 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

div#time {
    font-size: 6em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

span#timecolon {
	/*font-size: 0.9em;*/
}

div#date {
    font-size: 2em;
    color: white;
}


.hiddenElement {
    visibility: hidden;
}

ul#toggle-icons {
    list-style-type: none;
    padding: 0;
    margin-top: 1.25em;
}


ul#toggle-icons li {
    display: inline;
    padding: 0 0.75em 0 0.75em;
}

ul#toggle-icons li img {
	width: 3em;
	height: auto;
}

ul#toggle-icons li svg {
	width: 3em;
	height: auto;
}

ul#toggle-icons li a:hover svg path {
	fill: darkgrey;
}

/*li < .iconToggled {
	background-color: red;
	border: 4px solid black;
}*/


#fav-links, #quoteOTD, #wotd, #calendar{
	text-align: right;
}

#fav-links, #quoteOTD, #questOTD, #wotd, #calendar{
	   font-size: 1em;
	   color: white;
	   background-color: rgba(211,211,211,.1);
	   margin-top: 15px;
	   margin-bottom: 15px;
}
	  
#wotd {
	text-align: left;
	padding: 30px 15px 15px 30px !important;
}

#wotd strong{
	font-size: 1.5em;
	font-family: 'Cutive Mono', monospace;
}

#questOTD ul {
	  list-style-type: none;
	  text-align: left;
	  margin-bottom: 5px;
	  margin-top: 10px;
}

#questOTD p {
	margin-bottom: 0;
}

#questOTD, #quoteOTD, #wotd, #calendar {
	  border-radius: 50px 15px 30px;
	  margin-top: 20px;
	  padding: 15px;
}

#fav-links{
	   border-radius: 50px 15px 30px;
	   padding: 10px;
	   padding-right: 15px;
}


#fav-links a{
	color: white;
}

#fav-links ul{
	list-style-type: none;
}

input[type=submit], #questOTD input {
	padding: 5px 15px;
	border-radius: 10px 10px 10px 10px;
	border-style: none;
	margin-left: 10px;
	margin-top: 15px;
}

#questOTD input {
	margin-top: 0;
}

input#search-input{
	background-color: rgba(255,255,255,.3);
	/*border: 3px solid rgba(255,255,255,.6);*/
	padding: 7px 2px 7px 15px;
	border-radius: 7px;
	border: none;
}


.item-source {
	position: absolute;
	bottom: 15px;
	right: 30px;
	font-style: italic;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.5);
}

/* --- Calendar ------ */

div#calendar h2 {
	padding-left: 10px;
}

div#calendar {
	font-size: 0.8em;
}


